<section class="content-header">
  <h1>Category Master</h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> LOV Master</a></li>
    <li class="active">Category Master </li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="right text-right" style="padding-bottom: 5px;">
    <button type="button" (click)="addForm()" class="btn btn-primary btn-flat"> Add New</button>
  </div>
  <!-- Modal -->
  <div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> {{modalHeader}} </h4>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" autocomplete="off" autocapitalize="on" (ngSubmit)="formSubmit(form.value)">
            <div class="row">
              <div class="col-lg-1 col-md-1"></div>
              <div class="col-lg-5 col-md-5">
                <div class="form-group">
                  <label for="type">Select Type</label>
                  <select id="type" class="form-control" formControlName="type">
                    <option selected disabled value=""> Select Type</option>
                    <option *ngFor="let list of typeMaster;" [value]="list.id"> {{list.type}} </option>
                  </select>
<!--                  <input type="text" placeholder="Payment Method Name" id="name" class="form-control" formControlName="name">-->
                </div>
              </div>
              <div class="col-lg-5 col-md-5">
                <div class="form-group">
                  <label for="name">Category Name</label>
                  <input type="text" placeholder="Category Name" id="name" class="form-control" formControlName="name">
                </div>
              </div>
              <div class="col-lg-1 col-md-1"></div>
            </div>
            <div class="form-group text-center">
              <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-flat"> {{buttonLabel}} </button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>










  <div class="row">
    <!-- left column -->
    <div class="col-lg-12 col-md-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-body  table-responsive">
          <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover table-bordered" datatable>
            <thead class="bg-light-blue">
            <tr>
              <th>S.No</th>
              <th>Type</th>
              <th>Category</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let list of categoryMaster;let i = index;">
              <td> {{i + 1}} </td>
              <td> {{list.typeName}} </td>
              <td> {{list.name}} </td>
              <td class="text-center">
                <button class="btn btn-primary btn-flat btn-xs" type="button" (click)="editForm(list)"><i class="fa fa-pencil"></i> </button>&nbsp; &nbsp;
                <button class="btn btn-danger btn-flat btn-xs" type="button" (click)="deleteList(list)"><i class="fa fa-trash"></i> </button>
              </td>
            </tr>
            </tbody>
          </table>

        </div><!-- /.box-body -->
      </div>
    </div><!--/.col (left) -->
  </div>   <!-- /.row -->




</section><!-- /.content -->
