<section class="content-header">
  <h1>My Accounts</h1>
  <ol class="breadcrumb">
    <li class="active"><i class="fa fa-dashboard"></i> My Accounts </li>
  </ol>
</section>
<section class="content">
  <div class="box box-info">
    <div class="box-header ui-sortable-handle" style="cursor: move;">
      <h3 class="box-title"> My Account </h3>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-lg-3">
          <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" id="fullName" class="form-control" placeholder="Full Name">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label for="mobile">Mobile</label>
            <input type="tel" id="mobile" class="form-control" placeholder="Mobile">
          </div>
        </div>
        <div class="col-lg-3">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" placeholder="Email">
          </div>
        </div>
        <div class="col-lg-3"></div>
      </div>
      <div class="text-center form-group">
        <button type="button" class="btn btn-primary btn-flat"> Update Details </button>
      </div>
    </div>
  </div>
</section>
