<header class="main-header">
  <!-- Logo -->
  <a href="javascript:void(0)" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>GK</b> Expense</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Rapid</b> India</span>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="javascript:void(0)" class="dropdown-toggle">
            <img src="assets/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
            <span class="hidden-xs" *ngIf="currentUser">{{currentUser.fullName | titlecase }}</span>
          </a>
<!--          <ul class="dropdown-menu">-->
<!--            &lt;!&ndash; User image &ndash;&gt;-->
<!--            <li class="user-header">-->
<!--              <img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">-->
<!--              <p>-->
<!--                Alexander Pierce - Web Developer-->
<!--                <small>Member since Nov. 2012</small>-->
<!--              </p>-->
<!--            </li>-->
<!--            &lt;!&ndash; Menu Body &ndash;&gt;-->
<!--            &lt;!&ndash; Menu Footer&ndash;&gt;-->
<!--            <li class="user-footer">-->
<!--              <div class="pull-left">-->
<!--                <a href="#" class="btn btn-default btn-flat">Profile</a>-->
<!--              </div>-->
<!--              <div class="pull-right">-->
<!--                <a href="#" class="btn btn-default btn-flat">Sign out</a>-->
<!--              </div>-->
<!--            </li>-->
<!--          </ul>-->
        </li>
        <!-- Control Sidebar Toggle Button -->
        <li (click)="logout()">
          <a href="#"><i class="fa fa-sign-out"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</header>
