<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 1.1.1
  </div>
  <strong>Copyright © 2021-{{year | date: 'yyyy'}} <a href="javascript:void(0)">Rapid India</a>.</strong> All rights reserved.
</footer>
