<section class="content-header">
  <h1>Dashboard</h1>
  <ol class="breadcrumb">
    <li><a href="#" routerLink="/admin/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
  </ol>
</section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Messages</span>
            <span class="info-box-number">1,410</span>
          </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
      </div><!-- /.col -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-green"><i class="fa fa-flag-o"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Bookmarks</span>
            <span class="info-box-number">410</span>
          </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
      </div><!-- /.col -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-yellow"><i class="fa fa-files-o"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Uploads</span>
            <span class="info-box-number">13,648</span>
          </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
      </div><!-- /.col -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
          <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Likes</span>
            <span class="info-box-number">93,139</span>
          </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
      </div><!-- /.col -->
    </div><!-- /.row -->


    <form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
    <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <label>Name</label>
          <input type="text" placeholder="Name" class="form-control" formControlName="username">
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label>Amount</label>
          <input type="number" placeholder="Amount" class="form-control" formControlName="Amount">
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary"> Pay Now </button>
    </div>
    </form>



    <div *ngIf="payment">
      <form id="postform" action="https://payment.mylapay.com/mpy-secure-pay/_payment" method="post">
        {{paymentForm | json}}
        <div *ngFor="let pp of paymentForm | keyvalue;">
            <label [for]="pp.key"> {{pp.key}}</label>
            <input [id]="pp.key" [name]="pp.key" type="text" [value]="pp.value">
        </div>
        <button type="button" (click)="formSubmit()">Pay </button>
      </form>
    </div>
  </section>

