<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p *ngIf="currentUser"> {{currentUser.fullName | titlecase }} </p>
        <a href="javascript:void(0)"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li routerLinkActive="active">
        <a href="#" routerLink="/admin/dashboard"><i class="fa fa-tachometer"></i> <span>Dashboard</span></a>
      </li>
      <li routerLinkActive="active">
        <a href="#" routerLink="/admin/expense"><i class="fa fa-bar-chart"></i> <span>Expense Master</span></a>
      </li>
      <li class="treeview">
        <a href="javascript:void(0)">
          <i class="fa fa-tasks"></i> <span>User Management</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="active"><a href="javascript:void(0)" routerLink="/admin/category"><i class="fa fa-list-alt"></i> Manager Master </a></li>
          <li routerLinkActive="active"><a href="javascript:void(0)" routerLink="/admin/payments"><i class="fa fa-inr"></i> User Master </a></li>
        </ul>
      </li>
      <li routerLinkActive="active">
        <a href="#" routerLink="/admin/expense"><i class="fa fa-bar-chart"></i> <span>Report (Daily Telecallers)</span></a>
      </li>
      <li routerLinkActive="active">
        <a href="#" routerLink="/admin/expense"><i class="fa fa-bar-chart"></i> <span>Expense Master</span></a>
      </li>
      <li routerLinkActive="active"><a href="javascript:void(0)" routerLink="/admin/settings"><i class="fa fa-cogs"></i> <span>Account Settings</span></a></li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
