  <section class="content-header">
    <h1>Expense Master</h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Expense Master</a></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="right text-right" style="padding-bottom: 5px;">
      <button type="button" (click)="addForm()" class="btn btn-primary btn-flat"> Add New</button>
    </div>
    <!-- Modal -->
    <div id="addModal" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title"> {{modalHeader}} </h4>
          </div>
          <div class="modal-body">
            <form [formGroup]="form" autocomplete="off" autocapitalize="on" (ngSubmit)="formSubmit(form.value)">
              <div class="row">
                <div class="col-lg-3 col-md-3">
                  <div class="form-group">
                    <label for="type">Select Type</label>
                    <select id="type" class="form-control" formControlName="type" (change)="changeType($event)">
                      <option selected disabled value=""> Select Type</option>
                      <option *ngFor="let list of typeMaster;" [value]="list.id"> {{list.type}} </option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3">
                  <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" placeholder="Title" id="title" class="form-control" formControlName="title">
                  </div>
                </div>
                <div class="col-lg-3 col-md-3">
                  <div class="form-group">
                    <label for="date">Date</label>
                    <input type="text" placeholder="Date" id="date" class="form-control" formControlName="date">
                  </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="form-group">
                      <label for="amount">Amount</label>
                      <input type="text" placeholder="Amount" id="amount" class="form-control" formControlName="amount">
                    </div>
                </div>
                </div>
              <div class="row">
                <div class="col-lg-3 col-md-3">
                  <div class="form-group">
                    <label for="categoryId">Select Category</label>
                    <select id="categoryId" class="form-control" formControlName="categoryId">
                      <option selected disabled value=""> Select Category</option>
                      <option *ngFor="let list of categoryMaster;" [value]="list.id"> {{list.name}} </option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3">
                  <div class="form-group">
                    <label for="paymentId">Select Payment</label>
                    <select id="paymentId" class="form-control" formControlName="paymentId">
                      <option selected disabled value=""> Select Payment</option>
                      <option *ngFor="let list of paymentMaster;" [value]="list.id"> {{list.name}} </option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3">
                  <div class="form-group">
                    <label for="remarks">Remarks</label>
                    <textarea placeholder="Remarks (Max.length 250)" maxlength="250" id="remarks" class="form-control" formControlName="remarks" rows="1"></textarea>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3">
                  <div class="form-group">
                    <label for="fileUrl">File</label>
                    <input type="file" accept="image/*" placeholder="Title" id="fileUrl" class="form-control" (change)="processFile($event)">
                  </div>
                </div>
              </div>
              <div class="form-group text-center">
                <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-flat"> {{buttonLabel}} </button>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>




    <div class="row">
      <!-- left column -->
      <div class="col-lg-12 col-md-12">
        <!-- general form elements -->
        <div class="box">
          <div class="box-body table-responsive">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-hover table-bordered">
              <thead>
              <tr class="bg-light-blue-gradient">
                <th>ID</th>
                <th>Type</th>
                <th>Title</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Payment</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let list of expenseLists; let i = index;">
                <td>{{ i + 1 }}</td>
                <td>{{list.typeName}}</td>
                <td>{{list.title}}</td>
                <td>{{list.date | date: 'dd-MMM-yyyy'}}</td>
                <td class="text-right">{{list.amount | currency: '': ''}}</td>
                <td>{{list.categoryName}}</td>
                <td>{{list.paymentName}}</td>
                <td class="text-center">
                  <button class="btn btn-info btn-flat btn-xs" type="button"><i class="fa fa-eye"></i> </button>&nbsp; &nbsp;
                  <button class="btn btn-primary btn-flat btn-xs" type="button"><i class="fa fa-pencil"></i> </button>&nbsp; &nbsp;
                  <button class="btn btn-danger btn-flat btn-xs" type="button"><i class="fa fa-trash"></i> </button>
                </td>

              </tr>

              </tbody>
            </table>

          </div><!-- /.box-body -->
        </div>
      </div><!--/.col (left) -->
    </div>   <!-- /.row -->
  </section><!-- /.content -->
